{% extends "auctions/layout.html" %}

{% block body %}
    <br>
    {% if active_listings %}
        <div class="d-flex justify-content-center">
        <h1>Active Listings</h1>
        </div>
        <div 
        class="index"
        style="margin:5rem; margin-left:10rem">
            <div class="row row-cols-1 row-cols-lg-5 gap-5">
                {% for listing in active_listings %}
                    <div class="col" style="width:20rem">
                        <div class="card" style="object-fit:contain;">
                            <img src="{{listing.img}}" class="card-img-top" alt="..." style="object-fit:contain; height: 250px;">
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                    <h5 class="card-title" style="text-align: center;">
                                        <a href="{% url 'listing' listing.id %}">{{listing.title}}</a>
                                    </h5>
                                {% else %}
                                    <h5 class="card-title">
                                        {{listing.title}}
                                    </h5>
                                {% endif %}
                                    <p class="card-text" style="text-overflow:clip; height:5rem; text-align: center;">{{listing.description}}</p>
                                    <p class="card-text" style="text-align: center;"><small class="text-muted">{{listing.created_on}}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <h1>Closed Listings</h1>
        </div>
        <div 
        class="index"
        style="margin:5rem; margin-left:10rem">
            <div class="row row-cols-1 row-cols-lg-5 gap-5">
                {% for listing in closed_listings %}
                    <div class="col" style="width:20rem">
                        <div class="card" style="object-fit:contain;">
                            <img src="{{listing.img}}" class="card-img-top" alt="..." style="object-fit:contain; height: 250px;">
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                    <h5 class="card-title" style="text-align: center;">
                                        <a href="{% url 'listing' listing.id %}">{{listing.title}}</a>
                                    </h5>
                                {% else %}
                                    <h5 class="card-title">
                                        {{listing.title}}
                                    </h5>
                                {% endif %}
                                    <p class="card-text" style="text-overflow:clip; height:5rem; text-align: center;">{{listing.description}}</p>
                                    <p class="card-text" style="text-align: center;"><small class="text-muted">{{listing.created_on}}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
