{% extends "auctions/layout.html" %}

{% block body %}

<h2>Listing: {{listing.title}}</h2>
{% if listing.closed %}
    {% if listing.last_bid.user == user %}
    <div id="close-listing">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
          </svg>
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              Congratulations {{listing.last_bid.user}}, you have won the Auction!
            </div>
          </div>
    </div>
    {% else %}
    <h3> The winner of the Auction is {{listing.last_bid.user}}</h3>
    {% endif %}
{% else %}
    {% if listing.user == user %}
        <form action="{% url 'close_listing' listing=listing.id %}" method="post">
            {% csrf_token %}
            <button name="close-listing" class="btn btn-danger" type="submit" value="closed">Close Bid for Auction</button>
    {% else %}
        <h3>{{message}}</h3>
    {% endif %}
{% endif %}

<figure class="figure">
    <img src="{{listing.img}}" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption">{{listing.description}}</figcaption>
</figure>
<div>
    {% if listing.last_bid is None %}
        <h3>Bid value: ${{listing.starting_bid}}</h3>
    {% else %}
    <h3>Bid value : ${{listing.last_bid}}</h3>
    {% endif %}
    <div>
        <span>{{listing.bids.count}} bid(s) so far. Your bid is the current bid</span>
    </div>
    <div>
        {% if listing.closed == True %}
        <form action="{% url 'bid' listing=listing.id %}" method="post">
            <fieldset disabled='disabled'>
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="bid_price" placeholder="Bid">
            </div>
            <button name="bid" class="btn btn-outline-primary" type="submit" value="Place Bid">Place Bid</button>
            </fieldset>
        </form>
        {% else %}
        <form action="{% url 'bid' listing=listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="bid_price" placeholder="Bid">
            </div>
            <button name="bid" class="btn btn-outline-primary" type="submit" value="Place Bid">Place Bid</button>
        </form>
        <form action="{% url 'add_watchlist' listing=listing.id %}" method="post">
            {% csrf_token %}
            <button name="bid" class="btn btn-outline-success" type="submit" value="Watchlist">Watchlist</button>
        </form>
        {% endif %}
    </div>
<div>  
    <h3>Details</h3>
    <ul>
        <li>Listed by: <a href="{% url 'user_listings' listing.id %}">{{listing.user}}</a></li>
        <li>Category: <a href="{% url 'category_listing' listing.category %}">{{listing.category}}</a></li>
        <li>Created on: {{listing.created_on}}</li>
    </ul>
</div>
<div id="comments">
    <h3>Comments:</h3>
        {% if listing.closed == True %}
        <form action="{% url 'add_comment' listing=listing.id %}" method="post">
            <fieldset disabled='disabled'>
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="comment" placeholder="Add a comment">
            </div>
            <button name="bid" class="btn btn-outline-primary" type="submit" value="Comment">Comment</button>
            </fieldset>
        </form>
        {% else %}
        <form action="{% url 'add_comment' listing=listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="comment" placeholder="Add a comment">
            </div>
            <button name="bid" class="btn btn-outline-primary" type="submit" value="Comment">Comment</button>
        </form>
        {% endif %}
        {% if not listing.comments.all %}
        <p>There are no comments for this listing</p>
        {% else %}
            {% for comment in listing.comments.all %}
                <ul>
                    <li> {{comment.user}} - {{comment.comment_date}} : {{comment.comment}}</li>
                </ul>
            {% endfor %}
        {% endif %}
</div>

{% endblock %}

