{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

  {% if message %}
      <div>{{ message }}</div>
  {% endif %}

  <form action="{% url 'login' %}" method="post" autocomplete="off">
    {% csrf_token %}
    <!-- Username input -->
    <div class="row d-flex justify-content-center mt-5 mx-5">
      <div 
      class="col-md-3 col-md-offset-4 mt-lg-5 mx-lg-5 fixed-width"
      style="width: 350px;">
        <div class="card text-center">
          <div class="card-header ">
            <!-- Logo comes here-->
          <img
          src="{% static 'auctions/Leita_logo.png' %}"
          height="200"
          alt=""
          style="margin-top: 2px;"
          />
          </div>
          <div class="card-body ">
            <h5 class="card-title">Login</h5>
            <br>
            <input type="text" id="login_username" class="form-control" type="text" name="username" placeholder="Username" />
            <br>
            <input type="password" id="login_password" class="form-control" name="password" placeholder="Password" autocomplete="new-password"/>
            <br>
            <input class="btn btn-primary btn-rounded" type="submit" value="Login">
          </div>
        </div>
        <br>
        <div class="card text-center">
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </div>
      </div>
    </div>
  </form>

{% endblock %}